body {
    max-width:1200px;
    margin: auto;
    color: gray;
}
main {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "section"
        "aside"
        "footer";
}

i {
    margin-right: 5px;
}

a {
    cursor: pointer;
}
a:hover {
    color: black;
    text-decoration: underline;
}

header {
    padding-top: 30px;
    background-position: center;
    background-image: url('images/header.jpg');
    display: grid;
    gap: 10px;
    grid-area: header;
    justify-items: center;
    /* align-self: center; */
    grid-template-areas: 
        "header-content-logo"
        "header-content-1"
        "header-content-2"
        "header-content-3"
        "header-content-4"
        "header-content-5"
        "header-content-6"
        "header-image";
}

header a {
    align-self: center;
}

header .header-content-logo {
    grid-area: header-content-logo;
    width: 50px;
}
.header-content-logo:hover {
    animation: logo-keyframe 4s linear;
}
header a.header-content-1 {
    grid-area: header-content-1;
}
header a.header-content-2 {
    grid-area: header-content-2;
}
header a.header-content-3 {
    grid-area: header-content-3;
}
header a.header-content-4 {
    grid-area: header-content-4;
}
header a.header-content-5 {
    grid-area: header-content-5;
}
header a.header-content-6 {
    grid-area: header-content-6;
}
header .header-image {
    grid-area: header-image;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
}
header .header-image p {
    background: #cacaca;
    color: orangered;
    opacity: 0.7;
    padding: 3rem 10rem 6rem 10rem;
    margin: 0;
    font-size: x-large;
}
.header-image p:hover {
    animation: text-keyframe 2s ease;
}
section {
    background: #cacaca;
    display: grid;
    grid-area: section;
    grid-template-areas: 
        "article-1"
        "article-2"
        "article-3"
        "article-4"
        "article-5";
}

article:not(.article-5) {
    padding: 0.5rem;
    background: #fafafa;
    margin: 0.5rem;
}
article .title {
    background: rosybrown;
    padding: 0.5rem 0rem 0 0.3rem;
    text-transform: uppercase;
    color: white;
    display: block;
}
article .image {
    height: 200px;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    margin-bottom: 0.2rem
}
article .image p {
    color: yellow;
    margin: 0;
    margin-left: 0.2rem;
    opacity: 0.7;
}

article.article-1 {
    grid-area: article-1;
}
article.article-1 .image {
    background-image: url('images/sakura.jpg');
}

article.article-2 {
    grid-area: article-2;
}
article.article-2 .image {
    background-image: url('images/comida.jpg');
}
article.article-3 {
    grid-area: article-3;
}
article.article-3 .image {
    background-image: url('images/fuji.jpg');
}
article.article-4 {
    grid-area: article-4;
}
article.article-4 .image {
    background-image: url('images/noche.jpg');
}
article.article-5 {
    grid-area: article-5;
    padding: 0.5rem;
    color: black;
    text-align: center;
}

aside {
    background: #cacaca;
    color: black;
    padding: 2rem;
    display: grid;
    grid-area: aside;
    grid-template-areas: 
    "aside-content-1"
    "aside-content-2"
    "."
    "."
    "."
    "."
    "."
    "."
}
aside span.aside-content-1 {
    grid-area: aside-content-1;
    margin: auto;
    font-weight: bold;
}
aside span.aside-content-2 {
    grid-area: aside-content-2;
    text-align: center;
}

footer {
    background-color: #cacaca;
    grid-area: footer;
}
footer p {
    margin: 0 0.5rem;
    background-color: #fafafa;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) and (min-width: 500px) {
    header {
        grid-template-areas: 
            "header-content-logo header-content-1 header-content-2 header-content-3 header-content-4 header-content-5 header-content-6"
            "header-image header-image header-image header-image header-image header-image header-image";
    }
    section {
        grid-template-areas: 
            "article-1 article-2"
            "article-3 article-4"
            "article-5 article-5";
    }
}

@media (min-width: 768px) {
    main {
        grid-template-areas: 
        "header header header header header header header"
        "section section section section section section aside"
        "footer footer footer footer footer footer footer";
    }
    section {
        grid-template-areas: 
            "article-1 article-2"
            "article-3 article-4"
            "article-5 article-5";
    }
    header {
        grid-template-areas: 
            "header-content-logo header-content-1 header-content-2 header-content-3 header-content-4 header-content-5 header-content-6"
            "header-image header-image header-image header-image header-image header-image header-image";
    }
} 

@keyframes logo-keyframe {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes text-keyframe {
    0% { transform: scale(1); }
    25% { transform: scale(0.5); }
    75% { transform: scale(1.5); }
    100% { transform: scale(1); }
}